@import './base.css';

#app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr;
}

a.button {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: 32px;
  font-family: inherit;
  font-size: 1rem;
  user-select: none;
}

a.button.default {
  background: #fefefe;
  color: #202020;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(218, 217, 217, 0.76);
  border: 1px solid #eee;
}

a.button.default:hover {
  color: var(--vp-c-green-1);
  background: #ecececa9;
  box-shadow: 0 3px 5px rgba(218, 217, 217, 0.76);
  font-weight: bold;
}
