@import './base.css';

#app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr;
}

a.button {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: 32px;
  font-family: inherit;
  font-size: 1rem;
  user-select: none;
}

a.button.default {
  background: #fefefe;
  color: #202020;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(218, 217, 217, 0.76);
  border: 1px solid #eee;
}

a.button.default:hover {
  color: var(--vp-c-green-1);
  background: #ecececa9;
  box-shadow: 0 3px 5px rgba(218, 217, 217, 0.76);
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #308021;
  background: #a8c9b68c;
}

code,
strong {
  font-size: 1.15rem;
  padding: 3px 0.3em;
  border-radius: 0.4em;
  margin: var(--sft-code-margin);
}

code {
  color: #6d7087;
  border: 1px solid #ccc;
  background-color: #e6e9ef9c;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 26px;
  background-clip: border-box;
}

code::selection {
  background: red;
}

/* 覆盖所有代码块元素 */
code,
pre,
samp,
kbd {
  font-family: 'Fira Code', 'JetBrains Mono', Consolas, 'Courier New', Menlo, Monaco, 'Ubuntu Mono',
    monospace;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #da6666;
}
